/*body {
    background-color: #ec0909;
    color: #450780;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 50px;
    margin-right: 50px;
}
body{
.box 
    width:300px;
    height: 200px;
    background-color: rgb(189, 9, 9);
    text-align: center;
    margin: 300px;
    margin-top: 5px;
    padding: 20px;
}*/