body{
    background-color:white;
}
.contents {
    display: flex;
    align-items: center;
  
}
.contents-right {
    text-align: center; 
}
.contents-left {
    margin-left: 100px;
}
.contents-left input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
}
.contents-left button {
    width: 200px;
    height: 30px;
    font-size: 16px;
}
.form-inputs {
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.form-inputs textarea {
    border: none;
    border-bottom: 2px solid black;
}
.dividers {
border-left: 3px solid #000; 
height: 100%;
margin: 0 10px; 
}
.box {
    width: 630px;
    height: 50px;
    background-color: rgb(247, 8, 8);
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: -0px auto;
}
.frame {
    display: flex;
    align-items: center; 
    text-align: center;
    width: 700px;
    height: 150px;
    background-color: rgb(57, 6, 177);
    border: 2px solid darkblue;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
}

.left, .right {
    flex: 1;
    padding: 10px;
    text-align: center; 
}

.divider {
    border-left: 1px solid #000; 
    height: 70%;
    margin: 0 10px; 
}
p.copyright {
    position: absolute;
    bottom: -15px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: #030303;
}
.contact-heading {
    color: #080000; 
    top: -20px;
    left: 50%;
    position: absolute;
    transform:translateX(-50%) ;
    font-size: 20px;
}
.right h4{
    padding-top: 80px;
}