.box {
            width: 872px;
            height: 50px;
            background-color: rgb(247, 8, 8);
            border: 2px solid darkblue;
            border-radius: 10px;
            padding: 10px;
            margin: -0px auto;
        }
       /* img {
    margin-top: 50px;
    margin-right: 5px;
    margin-bottom: 50px;
    margin-left: 5px;
}*/
.container {
    position: relative;
    text-align: center;
    color: rgb(20, 5, 5);
  }
  
  .text {
    position: absolute;
    font-family: algerian;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 .frame {
    display: flex;
    align-items: center; 
    text-align: center;
    width: 872px;
    height: 150px;
    background-color: rgb(57, 6, 177);
    border: 2px solid darkblue;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
}

.left, .right {
    flex: 1;
    padding: 10px;
    text-align: center; 
}

.divider {
    border-left: 1px solid #000; 
    height: 70%;
    margin: 0 10px; 
}
p.copyright {
    position: absolute;
    bottom: -15px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: #030303;
}
.contact-heading {
    color: #080000; 
    top: -20px;
    left: 50%;
    position: absolute;
    transform:translateX(-50%) ;
    font-size: 20px;
}
.right h4{
    padding-top: 80px;
}
